---
layout: default
---

<article>
  
  {% include meta.html post=page %}
    <nav>
    <ul>
      <li><a href="/Introduction/">Introduction</a></li>
      <li><a href="/Data_Preprocessing/">Data_Preprocessing</a></li>
      <li><a href="/Analysis/">Analysis</a></li>
      <li><a href="/Results/">Results</a></li>
      <li><a href="/Conclusions/">Conclusions</a></li>
    </ul>
  </nav>
  
  {{ content }}
  
  {% if page.comments != false and site.comments.isso or site.comments.disqus %}
    <hr>
    {% if site.comments.isso_domain %}<div id="isso-thread"></div>{% endif %}
    {% if site.comments.disqus_shortname %}<div id="disqus_thread"></div>{% endif %}
    <noscript>Please enable JavaScript to view comments.</noscript>
  {% endif %}
</article>
